<div class="register">
    <h1 align="center" style="color:green;"><i class="fa-brands fa-whatsapp"></i>  Join to WHATSAPP </h1>
    <hr/>
    <form class="user">
    <div class="form-outline mb-4">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" ng-model="user.name" />
    </div>

    <div class="form-outline mb-4">
        <label class="form-label">Surname</label>
        <input type="text" class="form-control" ng-model="user.surname" />
    </div>

    <div class="form-outline mb-4">
        <label class="form-label">Number</label>
        <input type="text" class="form-control" ng-model="user.number" />
    </div>

    <div class="form-outline mb-4">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" ng-model="user.password" />
    </div>

        <div class="form-outline mb-4">
            <input class="form-control" ngf-select name="file" type="file" id="formFile" ng-model="file">
        </div>

    <button type="submit" class="btn btn-primary btn-block mb-4" ng-click="register()">Register</button>

    <div class="text-center">
        <p>Have an Account? <a href="/login">Sign In</a></p>
    </div>
    </form>
</div>
</div>
</div>